.aio-no-bounce {
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    overflow: hidden;
}

.aio-no-bounce ion-content {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
